{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />

{% endblock stylesheets %}

{% block content %}
 <h2>
    Date: <span id="d-id1"></span><br>
    Store: <span id="s-id2"></span><br>
    Department: <span id="dt-id3"></span><br>
    Store Type: <span id="st-id4"></span><br>
</h2>
    <div class="row" >
      <div class="col-sm-4">
        <div class="card card-1">
          <div class="card-header">
            <h4 class="card-title" >LINEAR REGRESSION</h4>
          </div>
          <div class="card-body">
            <div class="container ">
                <div class="lm-item lm-item-1">
                    
                    <div class="lm-item-body">
                        <h2>WMAE: {{wmae_lr|safe}}</h2>
                        <br><br>
                        <h2>PREDICTION : {{lr|safe}}</h2>
                    </div>
                    <br><h4 style="text-align:center">Rank : 3</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-chart">
          <div class="card-header">
            <h4 class="card-title" >XGB REGRESSOR</h4>
          </div>
          <div class="card-body">
            <div class="container ">
                <div class="lm-item lm-item-1">
                    
                    <div class="lm-item-body">
                        <h2>WMAE: {{wmae_xgb|safe}}</h2>
                        <br><br>
                        <h2>PREDICTION : {{xgb|safe}}</h2>
                    </div>
                    <br><h4 style="text-align:center">Rank : 1</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-chart">
          <div class="card-header">
            <h4 class="card-title" >KNN REGRESSION</h4>
          </div>
          <div class="card-body">
            <div class="container ">
                <div class="lm-item lm-item-1">
                    
                    <div class="lm-item-body">
                        <h2>WMAE: {{wmae_knn|safe}}</h2>
                        <br><br>
                        <h2>PREDICTION : {{knn|safe}}</h2>
                    </div>
                    <br><h4 style="text-align:center">Rank : 2</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="card card-tasks">
          <div class="card-header" >
            <h4 class="card-title">Prediction Chart</h4>
          </div>
            <div class="container">
                <canvas id="sample_chart"  width="850" height="350"></canvas>
            </div>
        </div>
    </div>
   
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/brython@3.8.9/brython.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/brython@3.8.9/brython_stdlib.js"></script>
    <script src="http://pypyjs.org/pypyjs-release/lib/Promise.min.js"></script>
    <script src="http://pypyjs.org/pypyjs-release/lib/FunctionPromise.js"></script>
    <script src="http://pypyjs.org/pypyjs-release/lib/pypyjs.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script type="text/javascript">
        window.addEventListener('load', () => {

    // Via Query parameters - GET
    /* const params = (new URL(document.location)).searchParams;
    const name = params.get('name');
    const surname = params.get('surname'); */

    // Via local Storage
    /* const name = localStorage.getItem('NAME');
    const surname = localStorage.getItem('SURNAME'); */


    const date = sessionStorage.getItem('Date');
    const store = sessionStorage.getItem('Store')
    const department = sessionStorage.getItem('Department');
    const storetype = sessionStorage.getItem('Store Type');

    document.getElementById('d-id1').innerHTML = date;
    document.getElementById('s-id2').innerHTML = store;
    document.getElementById('dt-id3').innerHTML = department;
    document.getElementById('st-id4').innerHTML = storetype;

})
    </script>

   <script type="text/javascript">
      let ctx5 = document.getElementById("sample_chart").getContext('2d');
        let pie_chart2 = new Chart(ctx5, {
            type: 'bar',
            data: {
                labels: ["LR","KNN","XGB"],
                datasets: [{
                data: {{bar_data|safe}},
                label: "WMAE",
                backgroundColor: ["#3e95cd", "#A70EC2","#3cba9f"],
                }]
            },
            options: {
                title: {
                display: true,
                text: 'PREDICTED SALES'
                },
                scales: {
                  yAxes: [{
                          display: true,
                          ticks: {
                              beginAtZero: false
                          }
                      }]
              }
            }
        });

	</script>
   
{% endblock javascripts %}
