{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />

{% endblock stylesheets %}

{% block content %}
  
    <div class="row" >
      <div class="col-sm-4">
        <div class="card card-1">
          <div class="card-header">
            <h4 class="card-title" >LINEAR REGRESSION</h4>
          </div>
          <div class="card-body">
            <div class="container ">
                <div class="lm-item lm-item-1">
                    
                    <div class="lm-item-body">
                        <h1>Wmae1: {{wmae1|safe}}</h1>
                        <br><br>
                        <h1>ACCURACY : ***</h1>
                    </div>
                    <h4 style="text-align:center">Rank : 3</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-chart">
          <div class="card-header">
            <h4 class="card-title" >XGB REGRESSOR</h4>
          </div>
          <div class="card-body">
            <div class="container ">
                <div class="lm-item lm-item-1">
                    
                    <div class="lm-item-body">
                        <h1 id>Wmae2:{{wmae2|safe}}</h1>
                        <br><br>
                        <h1>ACCURACY : ***</h1>
                    </div>
                    <h4 style="text-align:center">Rank : 1</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-chart">
          <div class="card-header">
            <h4 class="card-title" >KNN REGRESSION</h4>
          </div>
          <div class="card-body">
            <div class="container ">
                <div class="lm-item lm-item-1">
                    
                    <div class="lm-item-body">
                        <h1>Wmae3:{{wmae3|safe}}</h1>
                        <br><br>
                        <h1>ACCURACY : ***</h1>
                    </div>
                    <h4 style="text-align:center">Rank : 2</h4>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="card card-tasks">
          <div class="card-header" >
            <h4 class="card-title">Prediction Chart</h4>
          </div>
            <div class="container">
                <canvas id="sample_chart"  width="850" height="350"></canvas>
            </div>
        </div>
    </div>
   
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/brython@3.8.9/brython.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/brython@3.8.9/brython_stdlib.js"></script>
    <script src="http://pypyjs.org/pypyjs-release/lib/Promise.min.js"></script>
    <script src="http://pypyjs.org/pypyjs-release/lib/FunctionPromise.js"></script>
    <script src="http://pypyjs.org/pypyjs-release/lib/pypyjs.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>


   <script type="text/javascript">
      let ctx5 = document.getElementById("sample_chart").getContext('2d');
        let pie_chart2 = new Chart(ctx5, {
            type: 'bar',
            data: {
                labels: ["2010", "2011", "2012"],
                datasets: [{
                label: "Sales",
                backgroundColor: ["#3e95cd", "#A70EC2","#3cba9f"],
                data: {{bar_data|safe}}
                }]
            },
            options: {
                title: {
                display: true,
                text: 'Total yearly Sales'
                }
            }
        });

	</script>
   
{% endblock javascripts %}
