{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="row">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h2 class="card-title">Yearly Sales</h2>
              </div>
              <div class="col-sm-6">
                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                  <label class="btn btn-sm btn-primary btn-simple active">
                    <input type="radio" name="options" onclick="line_chart_2010();" checked >
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block" onclick="line_chart_2010();">2010</span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple">
                    <input type="radio" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block" onclick="line_chart_2011();">2011</span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple">
                    <input type="radio" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block" onclick="line_chart_2012();">2012</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div id="container" style="align-content: center;">
              <canvas id="line_chart" width="800" height="300"></canvas>
              </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row" >
      <div class="col-sm-4">
        <div class="card card-chart">
          <div class="card-header">
            <h4 class="card-title" >Store Type</h4>
          </div>
          <div class="card-body">
            <div class="container ">
              <canvas id="pie_chart1"  width="230" height="300" ></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-chart">
          <div class="card-header">
            <h4 class="card-title">Sales During Holidays</h4>
          </div>
          <div class="card-body">
            <div class="container">
              <canvas id="holiday_bar_chart" width="230" height="300"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-chart">
          <div class="card-header" >
            <h4 class="card-title">Yearly Sales</h4>
          </div>
          <div class="card-body">
            <div class="container">
              <canvas id="pie_chart2"  width="230" height="300"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="card card-tasks">
          <div class="card-header" >
            <h4 class="card-title">Weekly Sales</h4>
          </div>
            <div class="container">
                <canvas id="multi_line_chart"  width="850" height="350"></canvas>
            </div>
        </div>
    </div>
    <div class="row">
        <div class=col-12>
            <div style="text-align: center;">
              <li class="{% if 'range' in segment %} active {% endif %}">
                <a href="{% url 'range' %}">
                  <button class="btn btn-fill btn-primary btn-round" style="top: 20px">Proceed</button>
                </a>
              </li>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
     
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/brython@3.8.9/brython.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/brython@3.8.9/brython_stdlib.js"></script>
    <script src="http://pypyjs.org/pypyjs-release/lib/Promise.min.js"></script>
    <script src="http://pypyjs.org/pypyjs-release/lib/FunctionPromise.js"></script>
    <script src="http://pypyjs.org/pypyjs-release/lib/pypyjs.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

   <script type="text/javascript">
    window.onload = function() {
        line_chart_2010();
      };
   
     function line_chart_2010(){
        let ctx1 = document.getElementById("line_chart").getContext('2d');
          let line_chart = new Chart(ctx1,{
          type : 'line',
          options :{
                title : {
                    display : true,
                    text : 'Total sales for each store'
                    },
                    scales: {
                        yAxes: [{
                                display: true,
                                ticks: {
                                    beginAtZero: false
                                }
                            }]
                    }
              },
          data : {
                labels : {{total_sales_labels_2010|safe}},
                datasets :
                [{
                  data :{{total_sales_data_2010|safe}},
                  label : "Total sales",
                  //fill : "true",
                  borderColor : ['rgb(167,14,194)']
                  //tension: 0.1
                }],
              },
        });
      }
      function line_chart_2011(){
        let ctx2 = document.getElementById("line_chart").getContext('2d');
        let line_chart = new Chart(ctx2,{
        type : 'line',
        options :{
              title : {
                  display : true,
                  text : 'Total sales for each store'
                  },
                  scales: {
                    yAxes: [{
                            display: true,
                            ticks: {
                                beginAtZero: false
                            }
                        }]
                }
            },
        data : {
              labels : {{total_sales_labels|safe}},
              datasets :
              [{
                data :{{total_sales_data_2011|safe}},
                label : "Total sales",
                //fill : "true",
                borderColor : ['rgb(167,14,194)']
                
              }],
            },
      });
    }
      function line_chart_2012(){
        let ctx3 = document.getElementById("line_chart").getContext('2d');
        let line_chart = new Chart(ctx3,{
        type : 'line',
        options :{
              title : {
                  display : true,
                  text : 'Total sales for each store'
                  },
                  scales: {
                    yAxes: [{
                            display: true,
                            ticks: {
                                beginAtZero: false
                            }
                        }]
                }
            },
        data : {
              labels : {{total_sales_labels_2012|safe}},
              datasets :
              [{
                data :{{total_sales_data_2012|safe}},
                label : "Total sales",
                //fill : "true",
                borderColor : ['rgb(167,14,194)']
                
              }],
            },
        });
    }

	</script>
    <script type="text/javascript">
          
        let ctx5 = document.getElementById("pie_chart2").getContext('2d');
        let pie_chart2 = new Chart(ctx5, {
            type: 'pie',
            data: {
                labels: ["2010", "2011", "2012"],
                datasets: [{
                label: "Sales",
                backgroundColor: ["#3e95cd", "#A70EC2","#3cba9f"],
                data: {{yearly_sales_pie_chart|safe}}
                }]
            },
            options: {
                title: {
                display: true,
                text: 'Total yearly Sales'
                }
            }
        });

        let ctx7 = document.getElementById("holiday_bar_chart").getContext('2d');
        let holiday_bar_chart = new Chart(ctx7, {
                type: 'bar',
                data: {
                labels: [2010,2011,2012],
                datasets: [
                    {
                        label: "Super Bowl",
                        backgroundColor: "#3e95cd",
                        data: {{ super_bowl|safe }}
                    }, 
                    {
                        label: "Thanks Giving",
                        backgroundColor: "#8e5ea2",
                        data: {{ thanks_giving|safe }}
                    },
                    {
                        label: "Labour Day",
                        backgroundColor: "#3cba9f",
                        data: {{ labour_day|safe }}
                    },
                    {
                      label: "Christmas Day",
                      backgroundColor: "#14de57",
                      data: {{ christmas_day|safe }}
                  },
                ]
                },
                options: {
                title: {
                    display: true,
                    text: 'Weekly Sales'
                }
            }
          });
        
        let ctx6 = document.getElementById("multi_line_chart").getContext('2d');
        let multi_line_chart = new Chart(ctx6, {
                type: 'bar',
                data: {
                labels: {{ weekly_sales_labels_2011|safe }},
                datasets: [
                    {
                        label: "2010",
                        backgroundColor: "#3e95cd",
                        data: {{ weekly_sales_2010|safe }}
                    }, 
                    {
                        label: "2011",
                        backgroundColor: "#8e5ea2",
                        data: {{ weekly_sales_2011|safe }}
                    },
                    {
                        label: "2012",
                        backgroundColor: "#3cba9f",
                        data: {{ weekly_sales_2012|safe }}
                    }
                ]
                },
                options: {
                title: {
                    display: true,
                    text: 'Weekly Sales'
                }
            }
          });
          
          let ctx4 = document.getElementById("pie_chart1").getContext('2d');
          let pie_chart1 = new Chart(ctx4, {
              type: 'pie',
              data: {
                  labels: ["A","B","C"],
                  datasets: [{
                  label: "Sales",
                  backgroundColor: ["#3e95cd", "#A70EC2","#3cba9f"],
                  data: {{store_type_data|safe}}
                  }]
              },
              options: {
                  title: {
                  display: true,
                  text: 'Yearly sales by Store Type'
                  }
              }
          });
    </script>

{% endblock javascripts %}
