{% extends "layouts/base.html" %}

{% block title %} Range {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row justify-content-center" >
    <div class="col-sm-4" >
      <div class="card card-chart">
        <div class="card-header">
          <h4 class="card-title" >Date Range</h4>
        </div>
        <div class="card-body">
          <div class="container ">
            <center><form action = "final" method = "POST">
                {% csrf_token %}
                <label>Enter the Date Range for the forecast</label><br>
                <p>Date format is (dd/mm/yy)</p>
                <input id="date_range" name="date_range">
                <br><br>
               
                <label>Enter the store </label><br>
                <input id="store" name="store">
                <br><br>
               
                <label>Enter the department </label><br>
                <input id="department" name="department">
                <br><br>
                
                <label>Enter the store type </label><br>
                <p>(Type A=1, B=2, C=3)</p>
                <input id="type" name="type">
                <br><br>
                <li class="{% if 'final' in segment %} active {% endif %}">
                <input type="submit" href="{% url 'final' %}" class="btn btn-fill btn-primary btn-round" name="Submit">
                </li>
            </form></center>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
    function handleSubmit () {
    const date = document.getElementById('id1').value;
    const store = document.getElementById('id2').value;
    const department = document.getElementById('id3').value;
    const storetype = document.getElementById('id4').value;


    sessionStorage.setItem("Date", date);
    sessionStorage.setItem("Store", store);
    sessionStorage.setItem("Department", department);
    sessionStorage.setItem("Store Type", storetype);

    return;
}
</script>
{% endblock javascripts %}
